body {
  margin: 0 auto;
  text-align: center;
  max-width: 650px;
  background-color: #e3dfdc;
}

img {
  border: 1px solid gray;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    height: 100%;
}

.link {
  font-size: .8em;
  border: none;
  color: darkred;
}

