body {
  margin: 0 auto;
  text-align: center;
  max-width: 650px;
  background-color: antiquewhite;
}

img {
  border: 1px solid gray;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    height: 100%;
}

